/* -----NAVBAR----- */
.navbar-custom {
    background-color: #593096; 
    box-shadow: 0px 26px 45px rgb(0, 0, 0); 

}
.navbar-brand {
    margin: 0;
    padding: 0;
}

.logo-img {
    display: block;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 65px;
   
}

.shopping-img{
    width: 20px;
    height: 20px;
    filter: invert(1) grayscale(1) brightness(0) contrast(1);
    
}

.navbar-nav {
    display: flex; 
    margin: 0; 
    
}

.nav-item {
    display: flex;
    margin: 5px 10px 5px 13px;
}


.navbar-shopping{
    background-color: white;
    border-radius: 10px;
    max-width: 160px;
}

.nav-item {
    display: flex;
    align-items: center; 
    gap: 5px; 
}

.shopping-img {
    width: 25px;
    height: 25px;
    filter: invert(1) grayscale(1) brightness(0) contrast(1);
}

.nav-link.ver-compra {
    color: black;
}
.nav-link.ver-compra:hover {
    color: rgb(51, 46, 46);
}

/* banner ofertas */

.bannerOfertas{
    background-color: #E90271;
    color: white;
    font-family: Arial, sans-serif; 
}

/* -----Footer----- */
.Footer{
    background-color: #593096;
    color: #ffffff; 
    padding: 15px 0;
    margin: 0;
    box-shadow: 0px -26px 45px rgb(0, 0, 0); /* Sombra más intensa */

}