/* Estilo de alto contraste */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24303c;
}

.container {
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    margin-block-end: 5px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: yellow;
}

.container h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #FFD700;
    font-family: 'Calibri';
    font-size: 18px;    
}

.container p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.container a {
    color: yellow;
    text-decoration: none;
}

.container a:hover {
    color: yellow;
    text-decoration: underline;
}

.container button {
    width: 100%;
}

button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 3px;
}