/* Estilo 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    margin-block-end: 5px;
    border-radius: 4px;
    font-family: 'Calibri';
    color: white;
}

.container h4 {
    font-size: 22px;
    margin-bottom: 20px;
     text-align: center;
}

.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'Calibri';
    font-size: 18px;    
}

.container p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.container a {
    color: white;
    text-decoration: none;
}

.container a:hover {
    color: white;
    text-decoration: underline;
}

.container button {
    width: 100%;
}

button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    text-align: center;
    margin-top: 3px;
}

button:hover {
    background-color: #0056b3; 
}