.bg-gray{
    background-color: #D7D7D7;
}

.custom-cart-icon {
    width: 350px; 
    height: auto; 
}
.border-custom{ 
    border-left: 1px solid rgb(0, 0, 0);
    
}
.border-bottom-custom{
    border-bottom: 1px solid rgb(0, 0, 0);
    
}
@media (max-width: 510px) {
    .text-hidden{
        display: none;
    }
  }
